In [1]:
import pandas as pd
from sqlalchemy.exc import SQLAlchemyError # Para capturar errores específicos de SQLAlchemy si es necesario
from src.conexion_bd import ConexionBD  # Ajusta la ruta si es necesario

print("--- Demostración del Sistema de Análisis de Ventas ---")

--- Demostración del Sistema de Análisis de Ventas ---

In [2]:
print("\n--- 1. Probando Conexión a la Base de Datos (Singleton) ---")
try:
    conector_bd1 = ConexionBD()
    motor1 = conector_bd1.obtener_motor()

    conector_bd2 = ConexionBD()
    motor2 = conector_bd2.obtener_motor()

    if motor1 and motor2:
        print(f"Instancia 1 del conector: {id(conector_bd1)}")
        print(f"Instancia 2 del conector: {id(conector_bd2)}")
        print(f"¿Son la misma instancia? {'Sí' if conector_bd1 is conector_bd2 else 'No'}")
        print(f"Motor de la instancia 1: {motor1}")
        print(f"Motor de la instancia 2: {motor2}")
        print(f"¿Son el mismo motor? {'Sí' if motor1 is motor2 else 'No'}")
        
        # Probar una conexión simple
        with motor1.connect() as connection:
            print("Conexión directa al motor exitosa.")
            
    else:
        print("Error: No se pudo obtener el motor de la base de datos. Revisa las credenciales y la configuración.")

except ValueError as ve:
    print(f"Error de configuración: {ve}")
except Exception as e:
    print(f"Error inesperado al conectar: {e}")

--- 1. Probando Conexión a la Base de Datos (Singleton) ---
Conexión a la base de datos establecida exitosamente.
Instancia 1 del conector: 1835962791344
Instancia 2 del conector: 1835962791344
¿Son la misma instancia? Sí
Motor de la instancia 1: Engine(mysql+pymysql://root:***@localhost:3306/sistema_de_analisis_de_ventas)
Motor de la instancia 2: Engine(mysql+pymysql://root:***@localhost:3306/sistema_de_analisis_de_ventas)
¿Son el mismo motor? Sí
Conexión directa al motor exitosa.

In [3]:
print("\n--- 2. Resultados de Consultas SQL ---")

# (conector_bd1 fue instanciado en una celda anterior del notebook)
if 'conector_bd1' in locals() and conector_bd1.obtener_motor(): # Verifica si el motor está disponible
    print("\nConsulta: Primeros 5 clientes")

    df_clientes = conector_bd1.ejecutar_consulta("SELECT * FROM Customers LIMIT 5;") 
    if df_clientes is not None:
        display(df_clientes)
    else:
        print("No se pudieron obtener los clientes.")

    print("\nConsulta: Productos con precio (Price) mayor a 50")
    # Usamos "Products" para la tabla y "ProductName", "Price" para las columnas.
    df_productos_caros = conector_bd1.ejecutar_consulta(
        "SELECT ProductName, Price FROM Products WHERE Price > 50 ORDER BY Price DESC LIMIT 5;" 
    )
    if df_productos_caros is not None:
        display(df_productos_caros)
    else:
        print("No se pudieron obtener los productos caros.")
else:
    print("No se pueden ejecutar consultas, la conexión a la BD no está establecida o `conector_bd1` no está definido.")

--- 2. Resultados de Consultas SQL ---

Consulta: Primeros 5 clientes

,CustomerID,FirstName,MiddleInitial,LastName,Address,CityID
0,1,Stefanie,Y,Frye,97 Oak Avenue,79
1,2,Sandy,T,Kirby,52 White First Freeway,96
2,3,Lee,T,Zhang,921 White Fabien Avenue,55
3,4,Regina,S,Avery,75 Old Avenue,40
4,5,Daniel,S,Mccann,283 South Green Hague Avenue,2

Consulta: Productos con precio (Price) mayor a 50

                  ProductName    Price
0              Shrimp - 31/40  99.8755
1         Beef - Inside Round  99.3193
2       Puree - Passion Fruit  98.8263
3  Bread - Calabrese Baguette  98.5978
4           Zucchini - Yellow  98.4644

In [4]:
#Análisis Avanzado - Ranking de Productos por Ventas Dentro de Cada Categoría (Cálculo de ventas DESDE Products.Price CON DESCUENTO)
print("\n--- 3.1. Análisis Avanzado: Top Productos por Categoría (Cálculo desde Products.Price con Descuento) ---")

if 'conector_bd1' in locals() and conector_bd1.obtener_motor():
    # Asumimos que Sales.Discount es un decimal (ej. 0.10 para 10%)
    # Usamos IFNULL(s.Discount, 0) para tratar los NULL como sin descuento (0%)
    # Usamos p.Price de la tabla Products como precio base.
    consulta_avanzada_sql = """
    WITH VentasProducto AS (
        -- Paso 1: Calcular el monto total de ventas netas para cada producto
        SELECT
            p.ProductID,
            p.ProductName,
            p.CategoryID,
            SUM(s.Quantity * p.Price * (1 - IFNULL(s.Discount, 0))) AS monto_total_ventas_producto
        FROM Sales s
        JOIN Products p ON s.ProductID = p.ProductID
        GROUP BY
            p.ProductID,
            p.ProductName,
            p.CategoryID
    ),
    VentasProductoCategoriaConNombre AS (
        -- Paso 2: Unir con la tabla de categorías para obtener el nombre de la categoría
        SELECT
            vp.ProductID,
            vp.ProductName,
            vp.CategoryID,
            cat.CategoryName,
            vp.monto_total_ventas_producto
        FROM VentasProducto vp
        JOIN Categories cat ON vp.CategoryID = cat.CategoryID
    ),
    RankingVentas AS (
        -- Paso 3: Rankear los productos dentro de cada categoría según su monto total de ventas netas
        SELECT
            vpc.ProductID,
            vpc.ProductName,
            vpc.CategoryName,
            vpc.monto_total_ventas_producto,
            RANK() OVER (PARTITION BY vpc.CategoryName ORDER BY vpc.monto_total_ventas_producto DESC) AS ranking_en_categoria
        FROM VentasProductoCategoriaConNombre vpc
    )
    -- Paso 4: Seleccionar el resultado final, mostrando por ejemplo el Top 3 de productos por categoría
    SELECT
        CategoryName AS "Categoría",
        ProductName AS "Producto",
        monto_total_ventas_producto AS "Monto Total de Ventas Netas",
        ranking_en_categoria AS "Ranking en Categoría"
    FROM RankingVentas
    WHERE ranking_en_categoria <= 3  -- Puedes ajustar este número
    ORDER BY
        "Categoría",
        ranking_en_categoria;
    """
    
    print("\nConsulta Avanzada: Top 3 Productos por Ventas Netas en Cada Categoría (Usando Products.Price y Sales.Discount)")
    # print("SQL a ejecutar:\n", consulta_avanzada_sql) # Descomenta esto para ver el SQL exacto que se envía
    df_ranking_productos = conector_bd1.ejecutar_consulta(consulta_avanzada_sql)
    
    if df_ranking_productos is not None and not df_ranking_productos.empty:
        print("¡Consulta ejecutada exitosamente!")
        display(df_ranking_productos)
    elif df_ranking_productos is not None and df_ranking_productos.empty:
        print("La consulta se ejecutó correctamente pero no arrojó resultados.")
    else:
        print("No se pudo obtener el ranking de productos. Revisa el mensaje de error anterior de la base de datos.")
else:
    print("No se puede ejecutar la consulta avanzada, la conexión a la BD no está establecida o `conector_bd1` no está definido.")

--- 3.1. Análisis Avanzado: Top Productos por Categoría (Cálculo desde Products.Price con Descuento) ---

Consulta Avanzada: Top 3 Productos por Ventas Netas en Cada Categoría (Usando Products.Price y Sales.Discount)
¡Consulta ejecutada exitosamente!

,Categoría,Producto,Monto Total de Ventas Netas,Ranking en Categoría
0,Beverages,Placemat - Scallop; White,191.57300,1
1,Produce,Orange - Canned; Mandarin,157.68100,1
2,Snails,Cookie Dough - Double,222.19829,1
3,Cereals,Shrimp - 31/40,199.75100,1
4,Grain,Bread - Multigrain,193.04000,1
5,Shell fish,Lettuce - Spring Mix,90.01690,1
6,Confections,Juice - Lime,183.56660,1
7,Meat,Cod - Black Whole Fillet,290.45320,1
8,Seafood,Cheese - Wine,148.81520,1
9,Dairy,Scampi Tail,380.38280,1
10,Poultry,Flavouring - Orange,207.96000,1
11,Beverages,Halibut - Steaks,89.85730,2
12,Cereals,Bread Crumbs - Panko,163.80160,2
13,Confections,Bread - Bistro White,130.18160,2
14,Dairy,Squid - Tubes / Tenticles 10/20,164.27996,2
15,Grain,Cassis,92.62790,2
16,Meat,Wanton Wrap,152.48000,2
17,Poultry,Beer - Rickards Red,186.97760,2
18,Produce,Beer - Sleemans Cream Ale,108.51014,2
19,Seafood,Smirnoff Green Apple Twist,146.37006,2
20,Shell fish,Beef - Rib Eye Aaa,75.25312,2
21,Snails,Wine - Alsace Gewurztraminer,161.42660,2
22,Grain,Pastry - Cheese Baked Scones,91.09970,3
23,Produce,Pasta - Angel Hair,81.62520,3
24,Confections,Foam Cup 6 Oz,100.45120,3
25,Meat,Cheese - Mix,143.66040,3
26,Seafood,Soup Knorr Chili With Beans,95.70240,3
27,Cereals,Flour - Whole Wheat,133.73784,3
28,Poultry,Scallop - St. Jaques,147.83710,3
29,Shell fish,Broom - Corn,71.92410,3
30,Beverages,Puree - Passion Fruit,88.94367,3
31,Dairy,Wine - White Cab Sauv.on,85.97430,3
32,Snails,Wine - White; Mosel Gold,114.18732,3